[submodule "XWatcher"]
	path = XWatcher
	url = https://github.com/QuantFabric/XWatcher.git
[submodule "XTrader"]
	path = XTrader
	url = git@github.com:Weatherbless2/XTrader.git
[submodule "XServer"]
	path = XServer
	url = git@github.com:Weatherbless2/XServer.git
[submodule "XRiskJudge"]
	path = XRiskJudge
	url = git@github.com:Weatherbless2/XRiskJudge.git
[submodule "XMonitor"]
	path = XMonitor
	url = https://github.com/QuantFabric/XMonitor.git
[submodule "XMarketCenter"]
	path = XMarketCenter
	url = git@github.com:Weatherbless2/XMarketCenter.git
[submodule "XAPI"]
	path = XAPI
	url = https://github.com/QuantFabric/XAPI.git
[submodule "Utils"]
	path = Utils
	url = https://github.com/QuantFabric/Utils.git
[submodule "SHMServer"]
	path = SHMServer
	url = https://github.com/QuantFabric/SHMServer.git
[submodule "XQuant"]
	path = XQuant
	url = https://github.com/QuantFabric/XQuant.git
